body{
	background-image:url(1.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
form{
	font-size:20px;
	color:#f6f5ec;
	position: absolute;
	top:35%;
	left:40%;
}
a{
	text-decoration: none;
}
h1{
	color: #f6f5ec;
}